*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
body{
  font-family: 'Roboto', sans-serif;
  background-color:#6495ED;
  text-align: center;
}
header{
  display: flex;
  gap: 500px;
 
  align-items: center;   
  color: #fff;
  padding: 10px 30px;
 
}

#Logo{
  width: 190px;
 height: 40px;  
}
nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;

}
nav ul li{
  margin: 0 100px;

}
nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

#Home, #Convert{display: flex;
  justify-content: center;
  align-items: center;  
}

#HomeText{  
  width: 500px;
}

#Home{
  margin-bottom: 200px;

}
#H

#Home h1{
  font-size: 50px;
  color: #000000;
  margin-top: 10px;
}

#Home p{
  font-size: 20px;
  color: #fff;
  margin-top: 10px; 
}

#Cover{
  height: 555px;
  width: 554px;
  margin-left: 100px;
  margin-top: 100px;
}

#Start{
  color: #191A1C;
  font-size: 32px;
  margin-top: 10px;
  background:none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  display: block;
  margin-left: 100px;
  margin-top: 80px;
  text-shadow: 2px 2px 2px #191A1C;
}

#convertIcon{
 margin: 25px;
 width: 70px;
  height: 70px;  
}

.convert{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 450px;
  height: 330px;  
  background: #fff;
  margin-top: 10px;
}
#convertText{
  margin-top: 20px;
  font-size: 20px;
  color: #fff;
  background: #1FB45D;
  width: 1020px;
  height: 100px;
  padding: 30px;  
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 410px;
}
#container{
  background: #fff;
  width: 600px;
  height: 350px;
  margin: 0 auto;   
  margin-top: 10px;
}


#Contact label {
  font-size: 18px;
  font-weight: bold;
 
}

#Contact input,
#Contact textarea {
  font-size: 16px;
  padding: 10px; 
  margin: 10px 0;
  border: none;
}
#Contact button{
  background: #1FB45D;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
html{
  scroll-behavior: smooth;
}
#ContactSection{ 
   
  margin-top: 100px;
  
}

